<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoR Rankings</title>
</head>
<body>
    <h1>First 30 of the DF</h1>
    <table>
        <thead>
            <tr>
                {% for column in columns %}
                    <th>{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    {% for value in row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Average rank for players</h1>
    <table>
        <thead>
            <tr>
                {% for average_column in average_columns %}
                    <th>{{ average_column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for average_row in average_rows %}
                <tr>
                    {% for value in average_row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Max rank and LP for players</h1>
    <table>
        <thead>
            <tr>
                {% for max_column in max_columns %}
                    <th>{{ max_column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for max_row in max_rows %}
                <tr>
                    {% for value in max_row %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
